
body {
 background-color: black !important;
}

.navbar-brand {
    padding-left: 3%;
}

.collapse {
    padding-right: 3%
}

.nav-item {
    padding-left: 30px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: gray !important;
    border-color: black !important;
}

.btn-primary:hover {
    background-color: lightgray !important;
}

.cardContainer {
    margin-bottom: 30px !important;
    min-width: 250px;
}
.row {
    margin: 50px !important;

}

.photo {
    width: 300px;
    margin-left: 6%;
    align: left;
}

#images {
    display: inline-block;
    padding-right: 2%
}

#aboutContainer {
    background-color: black !important;
    max-width: 80% !important;
    margin: auto !important;
    color: white;
}


.w3-opacity,.w3-hover-opacity:hover{
    opacity:0.30
}
.w3-opacity-off,.w3-hover-opacity-off:hover{
    opacity:1
}
 .w3-opacity-max{
    opacity:0.25
}
.w3-opacity-min{
    opacity:0.75
}

.cardColor {
    background-color: rgb(39, 39, 39) !important;
    color: white;
}

a:link, a:visited {
    color: white !important;
    text-decoration: none;
}

a:hover {
    color:rgb(95, 95, 95) !important;
}

#csContainer {
    max-width: 80%;
}

#csAbout {
    display: flex;
    align-items: center;
}

#csCard {
    display: flex;
    align-items: start;
    padding-right: 40px
}

#card-img {
    max-width: 550px
}

#aboutTitle {
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  #modal-content {
    background-color: #dfdfdf;
    margin:15% auto; 
    padding:0 25px 35px 25px ;
    max-width: 550px
  }
  
  /* The Close Button */
  .close {
    color: rgb(88, 88, 88);
    float: right;
    margin-left: 485px;
    font-size: 40px;
    font-weight: normal;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #contactButton {
      margin: 30px auto 0 auto;
      width: 150px;
    }

  #form {
      padding-top: 7px;
  }

  #xd {
      width: 80%;
  }
